<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body ng-app="shaselton.poc">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div>
            <div class="header-container"  ng-controller="menuController">
                <header class="wrapper clearfix">
                    <nav>
                        <ul>
                            <li ng-repeat="item in menuItems" ng-click="changeMenu(item)">{{item.title}}</li>
                        </ul>
                    </nav>
                </header>
            </div>

            <div class="main-container">
                <div class="main wrapper clearfix" >
                    <div ng-view class="content"></div>
                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div>

<!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
-->
        <script src="js/vendor/angular.js"></script>
        <script src="js/app-ck.js"></script>
        <script src="js/Controllers/main-controller-ck.js"></script>
        <script src="js/Controllers/menu-controller-ck.js"></script>
        <script src="js/Directives/subitem-directive-ck.js"></script>
        <script src="js/Services/menu-service-ck.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
